<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> NHS Benchmarking Tool</title>

    <!-- Pie Chart -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    //visualizationPieChart.js taken from here
    </script>

    <!-- Line Graph -->
    <script type="text/javascript">
        //visualizationLineChart.js taken from here
    </script>

    <!-- Buble Graph -->
    <script type="text/javascript">
        //visualizationBubbleGraph.js taken from here
    </script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="./angular/angular.js"></script>
    <script src="./angular/angular-route.js"></script>
    <script src="./angular/angular.soap.js"></script>
    <script src="./angular/mainController.js"></script>
</head>

<body id="page-top" ng-app="IneqBench"  ng-controller="MainController">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">NHS Benchmarking Tool</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#estimates">Estimates</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <section id="top">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>NHS Benchmarking Tool</h1>
                    <hr class="light">
                    <p>
                        Please select a search option. If are currently a business, which would like to bench its data with our
                        expectations, please select the "Benchmark" button. For filtered predictions without benchmarking
                        click the "Predict" button.
                    </p>
                    <a href="#estimates" class="btn btn-primary btn-xl" ng-click="benchmarkClicked()">Benchmark</a><!--page-scroll - > removed because it does not position page correctly-->
                    <!--<a href="#estimates" class="btn btn-primary btn-xl page-scroll">Predict</a>-->
                </div>
            </div>
        </section>
    </header>
    <!--for testing mode:{{wrapper.mode}},numberOfPeople:{{wrapper.numberOfPeople}},gender:{{wrapper.gender}},region:{{wrapper.region}},ageRange:{{wrapper.ageRange}},ethnicityParameters:{{ethnicityParameters}}, deprivationCriteria:{{wrapper.deprivationCriteria}}-->
    <section class="bg-primary" id="estimates" ng-show="showSelectSection"><!--ng-show="showSelectSection"-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" ng-if="showDeprivationCriteria">
                    <h1 class="section-heading">Search Criterias</h1>
                    <hr class="light">
                    <br>
                    <div class="row borderStyle">
                        <!-- Population Variables Part -->
                        <div class="col-lg-6 text-center">
                            <h3>Search Type</h3>
                            <br>
                            <div class="alignLeft thirdDiv">
                                <span class="blockDisplay">
                                    <input type="radio" name="wrapper
                                    .mode" ng-model="wrapper
                                    .mode" ng-checked="wrapper.isBenchmarkingCheckedPopVar" value="benchmarking">Benchmark
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="wrapper
                                    .mode" ng-model="wrapper
                                    .mode" ng-checked="wrapper.isPredictingCheckedPopVar" value="predicting">Predict
                                </span>
                                <span class="blockDisplay">
                                    <input type="number" name="numberOfPeople" ng-model="wrapper
                                    .numberOfPeople" ng-change="doesProceedDeprivationParameters()" class="blackText" placeholder="Number of people...">
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center">
                            <h3>Deprivation Criteria</h3>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="ethnicity">Ethnicity
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="taxBand">Tax Bands
                                </span>
                                 <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="unpaidCarers">Unpaid Carers
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="learningDisabilities">Learning Disabilities
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="educationalAttainment">Educational Attainment
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="transport">Transport
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="unemployed">Unemployed
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="livingInDeprivedArea">Living in a deprived area
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-change="doesProceedDeprivationParameters()" value="homeless">Homeless
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedDeprivationParameters()" value="lowPay">Low Pay
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedDeprivationParameters()" value="fuelPoverty">Fuel Poverty
                                </span>
                                <span class="blockDisplay">
                                     <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                     .deprivationCriteria" ng-click="doesProceedDeprivationParameters()" value="offenders">Offenders
                                </span>
                                <span class="blockDisplay">
                                     <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                     .deprivationCriteria" ng-click="doesProceedDeprivationParameters()" value="illnesses">Long Term Life-limiting illness
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedDeprivationParameters()" value="mentalHealthAndWellbeing">Mental Health & Wellbeing
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <a href="#top" class="btn btn-default btn-xl btn-long page-scroll-visualization" ng-click="backToTop()">Back</a>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center" ng-if="showPopulationVariables">
                    <h1 class="section-heading">Search Criterias</h1>
                    <hr class="light">
                    <br>
                    <br>
                    <div class="row borderStyle">
                        <div class="col-lg-4 text-center">
                            <h3>Search Type</h3>
                            <br>
                            <div class="alignLeft halfDiv">
                                <span class="blockDisplay">
                                   <input type="radio" name="modeIneq" ng-model="wrapper
                                   .mode" value="benchmarking" ng-checked="isBenchmarkingCheckedIneq">Benchmark
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="modeIneq" ng-model="wrapper
                                    .mode" ng-checked="isPredictingCheckedIneq" value="predicting">Predict
                                </span>
                                <span class="blockDisplay">
                                     <input type="number" name="numberOfPeople" ng-model="wrapper
                                     .numberOfPeople" class="blackText" ng-change="doesProceedPopulationVariables()" placeholder="Number of people...">
                                 </span>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h3>Deprivation Criteria</h3>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="ethnicity">Ethnicity
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="taxBand">Tax Bands
                                </span>
                                 <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="unpaidCarers">Unpaid Carers
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="learningDisabilities">Learning Disabilities
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="educationalAttainment">Educational Attainment
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="transport">Transport
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="unemployed">Unemployed
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="livingInDeprivedArea">Living in a deprived area
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="homeless">Homeless
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="lowPay">Low Pay
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="fuelPoverty">Fuel Poverty
                                </span>
                                <span class="blockDisplay">
                                     <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                     .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="offenders">Offenders
                                </span>
                                <span class="blockDisplay">
                                     <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                     .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="illnesses">Long Term Life-limiting illness
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="deprivationCriteria" ng-model="wrapper
                                    .deprivationCriteria" ng-click="doesProceedPopulationVariables()" value="mentalHealthAndWellbeing">Mental Health & Wellbeing
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h3>Population Variables</h3>
                            <br>
                            <div class="alignLeft halfDiv">
                                <span class="blockDisplay">
                                    <input type="radio" name="genderIneq" ng-model="wrapper.gender" ng-checked="isAllGenderCheckedIneq" ng-click="doesProceedPopulationVariables()" value="All People:">All Gender
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderIneq" ng-model="wrapper.gender" ng-checked="isMaleGenderCheckedIneq" ng-click="doesProceedPopulationVariables()" value="Males:">Male
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderIneq" ng-model="wrapper.gender" ng-checked="isFemaleGenderChecked" ng-click="doesProceedPopulationVariables()" value="Females:">Female
                                </span>
                                Locality
                                <div class="btn-group">
                                    <select class="form-control" ng-model="wrapper.region" ng-options="r as r.name for r in regions" ng-change="doesProceedPopulationVariables()">
                                    </select>
                                </div>
                                Age Group
                                <div class="btn-group">
                                    <select class="form-control" ng-model="wrapper.ageRange" ng-options="r as r.rangeStr for r in ranges"  ng-change="doesProceedPopulationVariables()">
                                        <option selected disabled>Choose here</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <a href="#top" class="btn btn-default btn-xl btn-long page-scroll-visualization" ng-click="backToTop()">Back</a>
                </div>


                <div class="col-lg-10 col-lg-offset-1 text-center" ng-if="showOutputType">
                    <h1 class="section-heading">Search Criterias</h1>
                    <hr class="light">
                    <br>
                    <br>
                    <div class="row borderStyle">
                        <div class="col-lg-3 text-center">
                            <h3>Search Type</h3>
                            <br>
                            <br>
                            <div class="alignLeft halfDiv">
                                <span class="blockDisplay">
                                    <input type="radio" name="modeOutputType" ng-model="wrapper
                                    .mode" ng-checked="isBenchmarkingCheckedOutput" value="benchmarking">Benchmark
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="modeOutputType" ng-model="wrapper
                                    .mode" ng-checked="isPredictingCheckedOutput" value="predicting">Predict
                                </span>
                                <span class="blockDisplay">
                                     <input type="number" name="numberOfPeople" ng-model="wrapper
                                     .numberOfPeople" class="blackText" placeholder="Number of people...">
                                 </span>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <h3>Population Variables</h3>
                            <br>
                            <div class="alignLeft halfDiv">
                                <span class="blockDisplay">
                                    <input type="radio" name="genderOutput" ng-model="wrapper
                                    .gender" ng-checked="isAllGenderCheckedOutPut" value="All People:">All Gender
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderOutput" ng-model="wrapper
                                    .gender" ng-checked="isMaleGenderCheckedOutPut" value="Males:">Male
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderOutput" ng-model="wrapper
                                    .gender" ng-checked="isFemaleGenderCheckedOutPut" value="Females:">Female
                                </span>
                                Locality
                                <div class="btn-group">
                                    <select class="form-control" ng-model="wrapper
                                    .region" ng-options="r as r.name for r in regions">
                                    </select>
                                </div>
                                Age Group
                                <div class="btn-group">
                                    <select class="form-control" ng-model="wrapper
                                    .ageRange" ng-options="r as r.rangeStr for r in ranges">
                                        <option selected disabled>Choose here</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center" ng-if="ethincityDeprivationViewShow">
                            <h3>Ethnicity</h3>
                            <br>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="all" ng-model="ethnicityParameters.all" value="all"> All
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="SouthAsian"  ng-model="ethnicityParameters.southAsian" value="SouthAsian"> South Asian
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="Black-Afro-Carribean" ng-model="ethnicityParameters.BlackAfroCarribean" value="Black-Afro-Carribean"> Black-Afro-Carribean
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="Gypsy/Traveller" ng-model="ethnicityParameters.GypsyTraveller" value="GypsyTraveller"> Gypsy/Traveller
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center" ng-if="taxBandViewShow">
                            <h3>Tax Band</h3>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="taxBandA" ng-model="taxBand.a" value="a"> Tax Band A
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="taxBandB"  ng-model="taxBand.b" value="b"> Tax Band B
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="taxBandC" ng-model="taxBand.c" value="c"> Tax Band C
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="taxBandD" ng-model="taxBand.d" value="d"> Tax Band D
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center" ng-show="unpaidCarersViewShow">
                            <h3>Unpaid Carers</h3>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="unpaidCarers1" ng-model="unpaidCarers.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="unpaidCarers"2 ng-model="unpaidCarers.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="learningDisabilitiesViewShow">
                            <h3>Learning Disabilities</h3>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="learningDisabilities1" ng-model="learningDisabilities.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="learningDisabilities2" ng-model="learningDisabilities.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="educationalAttainmentViewShow">
                            <h3>Educational Attainment</h3>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--    <span class="blockDisplay">
                                    <input type="checkbox" name="educationalAttainment1" ng-model="educationalAttainment.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="educationalAttainment2" ng-model="educationalAttainment.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="transportViewShow">
                            <h3>Transport</h3>
                            <br>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="noCar" ng-model="transport.noCar" value="true"> No car
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="oneCar" ng-model="transport.oneCar" value="true"> One car
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="twoOrMoreCars" ng-model="transport.twoOrMoreCars" value="true"> Two or more
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 text-center" ng-show="unemployedViewShow">
                            <h3>Unemployment</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="unemployed1" ng-model="unemployed.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="unemployed2" ng-model="unemployed.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="livingInDeprivatedAreaViewShow">
                            <h3>Deprived Area</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="livingInDeprivatedArea1" ng-model="livingInDeprivatedArea.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="livingInDeprivatedArea2" ng-model="livingInDeprivatedArea.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="homelessViewShow">
                            <h3>Homeless</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="homeless1" ng-model="homeless.a" value="."> ....-->
                                <!--</span>-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="homeless2" ng-model="homeless.b" value="."> ...-->
                                <!--</span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="lowPayViewShow">
                            <h3>Low Pay</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="lowPay1" ng-model="lowPay.a" value="."> ....-->
                                <!--</span>-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="lowPay2" ng-model="lowPay.b" value="."> ...-->
                                <!--</span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="fuelPovertyViewShow">
                            <h3>Fuel Poverty</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<h3>Fuel Poverty</h3>
                            <br>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="fuelPoverty1" ng-model="fuelPoverty.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="fuelPoverty2" ng-model="fuelPoverty.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="offendersViewShow">
                            <h3>Offenders</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="offenders1" ng-model="offenders.a" value="."> ....-->
                                <!--</span>-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="offenders2" ng-model="offenders.b" value="."> ...-->
                                <!--</span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="illnessViewShow">
                            <h3>Illness</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" name="illness1" ng-model="illness.a" value="."> ....
                                </span>
                                <span class="blockDisplay">
                                    <input type="checkbox" name="illness2" ng-model="illness.b" value="."> ...
                                </span>
                            </div>-->
                        </div>
                        <div class="col-lg-3 text-center" ng-show="mentalHealthAndWellbeingViewShow">
                            <h3>Illness</h3>
                            <br>
                            <br>
                            <h5> No relevant subparameters to be selected </h5>
                            <!--<div class="alignLeft halfDiv noWrap">-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="mentalHealthAndWellbeing1" ng-model="mentalHealthAndWellbeing.a" value="."> ....-->
                                <!--</span>-->
                                <!--<span class="blockDisplay">-->
                                    <!--<input type="checkbox" name="mentalHealthAndWellbeing2" ng-model="mentalHealthAndWellbeing.b" value="."> ...-->
                                <!--</span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-lg-3 text-center">
                            <h3>Output Type</h3>
                            <br>
                            <br>
                            <div class="alignLeft halfDiv">
                                <span class="blockDisplay">
                                    <input type="radio" name="visualization" ng-model="visualization" value="table"> Table
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="visualization" ng-model="visualization" value="boxPlot"> Box Plot
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="visualization" ng-model="visualization" value="lineGraph"> Line Graph
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <a href="#visualization" class="btn btn-default btn-xl btn-long page-scroll-visualization" ng-click="visualize()">Visualize</a>
                    <a href="#top" class="btn btn-default btn-xl btn-long page-scroll-visualization" ng-click="backToTop()">Back</a>
                </div>
            </div>
        </div>
    </section>

    <section id="visualization" ng-show="isVisualizing">
        <div class="container fullSizeContainer">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Estimates</h1>
                    <br>
                    <br>
                    <div class="estimate">
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th>Inequalities Indicator</th>
                                <th>Total Population In Locality</th>
                                <th class="center">Estimates</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Total | Percentage</th>
                                <th>
                                    <table class="table">
                                        <tr>
                                            <th>Estimate | Percentage</th>
                                            <th>Lower Range | Percentage</th>
                                            <th>Upper Range | Percentage</th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                            <tr>
                                <td>Total Population</td>
                                <td>{{result.totalPopulation}} | 100%</td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <td> -, -%</td>
                                            <td> -, -%</td>
                                            <td> -, -%</td>
                                        </tr>
                                    </table>
                                 </td>
                            </tr>
                            <tr>
                                <td>{{deprivationCriteriaDisplayedName}}</td>
                                <td>{{result.totalDeprived}} | {{result.totalDeprivedPercentage}}%</td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <td>{{result.estimate}} | {{result.estimatePercentage}}%</td>
                                            <td>{{result.lowerRange}} | {{result.lowerRangePercentage}}%</td>
                                            <td>{{result.upperRange}} | {{result.upperRangePercentage}}%</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tr>
                        </table>
                    </div>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    <!--    <div class="container fullSizeContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h2> Possible Visualization Mechanisms</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div id="chart_div"></div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div id="curve_chart"></div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div id="series_chart_div"></div>
                </div>
            </div>
        </div>
        -->
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Dependable Estimation</h3>
                        <p class="text-muted">Our probabilistic algorithms are updated regularly to provide the most reliable etimates.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Immediate Analysis</h3>
                        <p class="text-muted">Benefit from the rapid analyser and get an answer for your doubts immediately.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update our database regularly to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Deprivation Criteria
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">

        </div>
    </aside>
    -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <!--<i class="fa fa-phone fa-3x wow bounceIn"></i>-->
                    <br>
                    <br>
                    <p>Akos Szente</p>
                    <p>Alex Chilikov</p>
                    <p>Ivaylo Lafchiev</p>
                    <p>Jacob Ford</p>
                    <p>Mike Harling</p>
                    <p>Mindaugas Ribakauskas</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">2094613s@student.gla.ac.uk</a></p>
                    <p><a href="mailto:your-email@your-domain.com">2090886l@student.gla.ac.uk  </a></p>
                    <p><a href="mailto:your-email@your-domain.com">2091723f@student.gla.ac.uk </a></p>
                    <p><a href="mailto:your-email@your-domain.com">2147621h@student.gla.ac.uk </a></p>
                    <p><a href="mailto:your-email@your-domain.com">2093693r@student.gla.ac.uk </a></p>
                </div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
