<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Benchmarking Tool</title>

    <!-- Pie Chart -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    //visualizationPieChart.js taken from here
    </script>

    <!-- Line Graph -->
    <script type="text/javascript">
        //visualizationLineChart.js taken from here
    </script>

    <!-- Buble Graph -->
    <script type="text/javascript">
        //visualizationBubbleGraph.js taken from here
    </script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="./angular/angular.js"></script>
    <script src="./angular/angular-route.js"></script>
    <script src="./angular/angular.soap.js"></script>
    <script src="./angular/mainController.js"></script>
    <script src="./angular/app.js"></script>
</head>

<body id="page-top" ng-app="IneqBench"  ng-controller="MainController">

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Instructions</h4>
          </div>
          <div class="modal-body">
            <p>
                This website estimates the number of people from different population groups that live in Dumfries & Galloway.
                It uses publically available, national sources of data (such as the Census and Scottish Neighbourhood Statistics)
                to generate the estimates.  There are 2 ways to use this website:
            </p>
            <p>
                1. Use the filters to specify the population you are interested in and this website will estimate the total
                number of people in that population;
            </p>
            <p>
                2. Enter a sample number (such as the number of people who have used your service, or taken part in your survey)
                and use the filters to describe your sample.  This website will then estimate the number of people from different
                population groups that you would expect to be included in your sample.  You can use these estimates to compare
                benchmark) against the actual number of people in your sample and see if there are more or fewer people than expected.
            </p>
            <p>
                For more information go to About or Method, otherwise...
                Click the button below to get started!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#"> Benchmarking Tool</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./about.html">About</a>
                    </li>
                    <li>
                        <a href="./method.html">Method</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <section id="top">
            <div class="header-content">
                <div class="box">
                    <div  class="header-content-inner">
                        <h1>Benchmarking Tool</h1>
                        <hr class="light">
                        <div>
                        <button type="button" class="btn btn-primary btn-xl btn-long" data-toggle="modal" data-target="#myModal">Instructions</button>
                        </div>
                        <br>
                        <a href="#estimates" class="btn btn-primary btn-xl btn-long" ng-click="benchmark()">Benchmark</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <section class="bg-primary" id="estimates" ng-show="showBenchmarking">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">Search</h1>
                    <hr class="light">
                    <br>
                    <div class="row borderStyle">
                        <!-- Population Variables Part -->
                        <div class="col-lg-5 text-center">
                            <h3>Search Parameters</h3>
                            <br>
                            <div class="alignCenter">
                                <span class="blockDisplay">
                                    <input type="number" name="numberOfPeople" ng-model="numberOfPeople" class="blackText" placeholder="Number of people...">
                                </span>
                                Locality <br>
                                <div class="btn-group">
                                    <select class="form-control" ng-model="region" ng-options="r as r.name for r in regions">
                                    </select>
                                </div><br>
                                Age (leave blank for all)<br>
                                <input type="number" name="ageFrom" ng-model="ageFrom" class="blackText" placeholder="From"> <br>

                                <input type="number" name="ageTo" ng-model="ageTo" class="blackText" placeholder="To">
                                <br>
                                Sex <br>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderIneq" ng-model="gender" value="All People:">All
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderIneq" ng-model="gender" value="Males:">Male
                                </span>
                                <span class="blockDisplay">
                                    <input type="radio" name="genderIneq" ng-model="gender" value="Females:">Female
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-7 text-center">
                            <h3>Deprivation Criteria</h3>
                            <br>
                            <div class="alignLeft halfDiv noWrap">
                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getEthnicity"
                                    ng-click="updateSelectedDeprivations('getEthnicity')">Ethnicity
                                </span>
                                  <!-- Sub-parameters. Displayed when the criterion is selected.  -->
                                  <div class="halfDiv" ng-show="selectedDeprivations.getEthnicity.displayPars">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getEthnicity.subPars.all"
                                    ng-click="updateSelectedSubPars('getEthnicity', 'all')"> All <br>
                                    <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getEthnicity.subPars.southAsian"
                                    ng-click="updateSelectedSubPars('getEthnicity', 'southAsian')"> South Asian <br>
                                    <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getEthnicity.subPars.blackAfroCarribean"
                                    ng-click="updateSelectedSubPars('getEthnicity', 'blackAfroCarribean')"> Black/Afro-Carribean <br>
                                    <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getEthnicity.subPars.gipsyTraveller"
                                    ng-click="updateSelectedSubPars('getEthnicity', 'gipsyTraveller')"> Gipsy/Traveller <br>
                                  </div>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getTax"
                                    ng-click="updateSelectedDeprivations('getTax')">Tax Bands
                                </span>
                                  <!-- Sub-parameters. Displayed when the criterion is selected.  -->
                                    <div class="halfDiv" ng-show="selectedDeprivations.getTax.displayPars">
                                        <input type="checkbox" ng-checked="selectedDeprivations.getTax.subPars.all"
                                        ng-click="updateSelectedSubPars('getTax', 'all')">All <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTax.subPars.a"
                                        ng-click="updateSelectedSubPars('getTax', 'a')">A <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTax.subPars.b"
                                        ng-click="updateSelectedSubPars('getTax', 'b')">B <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTax.subPars.c"
                                        ng-click="updateSelectedSubPars('getTax', 'c')">C <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTax.subPars.d"
                                        ng-click="updateSelectedSubPars('getTax', 'd')">D <br>
                                    </div>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getUnpaidCarers"
                                    ng-click="updateSelectedDeprivations('getUnpaidCarers')">Unpaid Carers
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getLearningDisabilities"
                                    ng-click="updateSelectedDeprivations('getLearningDisabilities')">Learning Disabilities
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getEducationalAttainment"
                                    ng-click="updateSelectedDeprivations('getEducationalAttainment')">Low Educational Attainment
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getTransport"
                                    ng-click="updateSelectedDeprivations('getTransport')">Transport
                                </span>
                                    <!-- Sub-parameters. Displayed when the criterion is selected.  -->
                                    <div class="halfDiv" ng-show="selectedDeprivations.getTransport.displayPars">
                                        <input type="checkbox" ng-checked="selectedDeprivations.getTransport.subPars.all"
                                        ng-click="updateSelectedSubPars('getTransport', 'all')">All <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTransport.subPars.noCar"
                                        ng-click="updateSelectedSubPars('getTransport', 'noCar')">No Car <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTransport.subPars.oneCar"
                                        ng-click="updateSelectedSubPars('getTransport', 'oneCar')">One Car <br>
                                        <input type="checkbox" ng-disabled="true" ng-checked="selectedDeprivations.getTransport.subPars.twoOrMoreCars"
                                        ng-click="updateSelectedSubPars('getTransport', 'twoOrMoreCars')">Two or More Cars
                                    </div>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getUnemployed"
                                    ng-click="updateSelectedDeprivations('getUnemployed')">Unemployed
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getLivingInDeprivedArea"
                                    ng-click="updateSelectedDeprivations('getLivingInDeprivedArea')">Living in a deprived area
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getLowPay"
                                    ng-click="updateSelectedDeprivations('getLowPay')">Low Pay (Income support)
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getFuelPoverty"
                                    ng-click="updateSelectedDeprivations('getFuelPoverty')">Fuel Poverty
                                </span>

                                <span class="blockDisplay">
                                    <input type="checkbox" ng-checked="selectedDeprivations.getFuelPoverty"
                                    ng-click="updateSelectedDeprivations('getIllness')">Long Term Life-limiting illness
                                </span>                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <a href="#visualization" class="btn btn-default btn-xl btn-long" ng-click="visualize()">Visualize</a>
                    <a href="#top" class="btn btn-default btn-xl btn-long">Back</a> <!--page-scroll-visualization-->
                </div>
            </div>
        </div>
    </section>

    <section id="visualization" ng-show="showVisualizing">
        <div class="container fullSizeContainer">
            <div class="row">
                <div  ng-if="loadingCount == 0" class="col-lg-12 text-center">
                    <h1 class="section-heading">Results</h1>
                    <br>
                    <br>
                    <div class="estimate">
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th class="center" >Total population in selected area</th>
                            </tr>
                            <tr>
                                <td class="center">{{totalPopulation}}</td>
                            </tr>
                        </table>
                        <table class="table table-hover table-bordered">
                            <tr>
                                <th class="center">Inequalities Indicator</th>
                                <th class="center">Estimated total population/housholds in selected area</th>
                                <th class="center">Estimated number of people/households in the sample</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    <table class="table">
                                        <tr>
                                            <th class="center">Estimate </th>
                                            <th class="center">Lower Range </th>
                                            <th class="center">Upper Range </th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>


                            <tr ng-repeat="indicator in results track by $index">
                                <td>{{indicator.name}}</td>
                                <td>{{indicator.data.totalDeprived}} | {{indicator.data.totalDeprivedPercentage}}%</td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <td>{{indicator.data.estimate}} </td>
                                            <td>{{indicator.data.lowerRange}} </td>
                                            <td>{{indicator.data.upperRange}} </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr class="primary">
                    <button id="csv" ng-if="loadingCount == 0" type="button" class="btn btn-primary btn-xl btn-long" ng-click="downloadAsCSV()">Download as .csv</button>
                    <a href="#estimates" class="btn btn-primary btn-xl btn-long" ng-click="clearSearch()">New Search</a>
                </div>

            </div>

            <h3 ng-if="loadingCount > 0" class= "text-center">LOADING...</h3>
        </div>
        <br>
        <br>
        <br>
    <!--    <div class="container fullSizeContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h2> Possible Visualization Mechanisms</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div id="chart_div"></div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div id="curve_chart"></div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div id="series_chart_div"></div>
                </div>
            </div>
        </div>
        -->
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Dependable Estimation</h3>
                        <p class="text-muted">Our probabilistic algorithms are updated regularly to provide the most reliable etimates.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Immediate Analysis</h3>
                        <p class="text-muted">Benefit from the rapid analyser and get an answer for your doubts immediately.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update our database regularly to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Deprivation Criteria
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">

        </div>
    </aside>
    -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
