<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- 	<bean id="ethnicityDAO" name="ethnicityDAO" class="me.ineqbench.dao.impl.JdbcEthnicityDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	 -->
	<!--  <bean id="transportDAO" class="me.ineqbench.dao.impl.JdbcTransportDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="fuelPovertyDAO" class="me.ineqbench.dao.impl.JdbcFuelPovertyDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="learningDisabilitiesDAO" class="me.ineqbench.dao.impl.JdbcLearningDisabilitiesDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="unpaidCarersDAO" class="me.ineqbench.dao.impl.JdbcUnpaidCarersDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="educationalAttainmentDAO" class="me.ineqbench.dao.impl.JdbcEducationalAttainmentDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="illnessDAO" class="me.ineqbench.dao.impl.JdbcIllnessDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="taxDAO" class="me.ineqbench.dao.impl.JdbcTaxDAO">
		<property name="dataSource" ref="dataSource"/>
	</bean>
  -->
</beans>