<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
 	<bean id="ethnicityDAO" name="ethnicityDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcEthnicityDAO"/>
    </bean>
     
     <bean id="educationalAttainmentDAO" name="educationalAttainmentDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcEducationalAttainmentDAO"/>
    </bean>
    
    <bean id="transportDAO" name="transportDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcTransportDAO"/>
    </bean>
    
    <bean id="fuelPovertyDAO" name="fuelPovertyDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcFuelPovertyDAO"/>
    </bean>
    
    <bean id="learningDisabilitiesDAO" name="learningDisabilitiesDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcLearningDisabilitiesDAO"/>
    </bean>
   
    <bean id="unpaidCarersDAO" name="unpaidCarersDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcUnpaidCarersDAO"/>
    </bean>
    
    <bean id="illnessDAO" name="illnessDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcIllnessDAO"/>
    </bean>
    
    <bean id="taxDAO" name="taxDAO" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="me.ineqbench.controllers.dao.JdbcTaxDAO"/>
    </bean>
    
    <!--  -->
	<bean id="getEthnicityController" class="me.ineqbench.controllers.GetEthnicityController">
	</bean>
	
	<bean id="getEducationalAttainmentController" class="me.ineqbench.controllers.GetEducationalAttainmentController">
	</bean>
	
	<bean id="GetFuelPovertyController" class="me.ineqbench.controllers.GetFuelPovertyController">
	</bean>
	
	<bean id="GetIllnessController" class="me.ineqbench.controllers.GetIllnessController">
	</bean>
	
	<bean id="GetLearningDisabilitiesController" class="me.ineqbench.controllers.GetLearningDisabilitiesController">
	</bean>
	
	<bean id="GetTaxController" class="me.ineqbench.controllers.GetTaxController">
	</bean>
	
	<bean id="GetTransportController" class="me.ineqbench.controllers.GetTransportController">
	</bean>
	
	<bean id="GetUnpaidCarersController" class="me.ineqbench.controllers.GetUnpaidCarersController">
	</bean>
	<!--  -->
	
</beans>